<div id="{CAROUSELID}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#{CAROUSELID}" data-slide-to="0" class="active"></li>
    {ADDITIONAL_INDICATORS}
  </ol>
  <div class="carousel-inner">{SLIDES}</div>
  <a class="left carousel-control" href="#{CAROUSELID}" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#{CAROUSELID}" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>