@font-face
{
  font-family: 'Glyphicons Halflings';
  src:
  	url('{FONTURL id="glyphicons-halflings-regular.eot" context="css"}');
  src:
  	url('{FONTURL id="glyphicons-halflings-regular.eot" context="css"}?#iefix') format('embedded-opentype'),
  	url('{FONTURL id="glyphicons-halflings-regular.woff2" context="css"}') format('woff2'),
  	url('{FONTURL id="glyphicons-halflings-regular.woff" context="css"}') format('woff'),
  	url('{FONTURL id="glyphicons-halflings-regular.ttf" context="css"}') format('truetype'), 
  	url('{FONTURL id="glyphicons-halflings-regular.svg" context="css"}#glyphicons_halflingsregular') format('svg');
}
